* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: #2d3938;
  }
  
  .portfolio-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1500px;
    min-height: 800px;
    background: #516764;
    margin: 32px auto;
    border-radius: 20px;
  }
  
  header {
    text-align: center;
  }

  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .li {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

  .li :hover {
    color: #f19953;
  }
  
  h1 {
    margin: 32px 0;
    color: #001011;
    font-size: 32px;
    padding-left: 30px;
  }

  .about {
    display: flex;
  }

  aside {
    flex: 1;
  }

  img {
    width: 400px;
    padding-left: 20px
    /* height: ; */
  }
  
  .about-p {
    flex: 3;
    padding: 30px;
  }

  .Proj-bio {
    flex:3;
    padding: 30px;
  }
  
  form {
    text-align: center;
  }

  .resume{
    text-align: center;
  }
  .resumeLink {
    font-size: 24px;
  }

  .div {
    text-align: center;
  }
  
  ul{
    list-style-type: none;
  }

  footer {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px
  }